body {
    font-family: 'Courier New', Courier, monospace; /* Monospace font */
    background-color: #000; /* Black */
    color: #f0f8ff; /* Light pastel */
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #1a1a2e; /* Dark navy blue */
    border: 2px solid #ff4136; /* Red border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 70%; /* 70% width of the screen */
    max-width: 400px;
    margin: auto; /* Center align horizontally */
}

h1 {
    color: #f0f8ff; /* Light pastel */
    text-align: center;
}

.form-group {
    margin-bottom: 15px; /* Gap between form groups */
}

.form-group label {
    color: #f0f8ff; /* Light pastel */
}

.form-group input {
    background-color: #1a1a2e; /* Dark navy blue */
    color: #f0f8ff; /* Light pastel */
    border: 1px solid #ff851b; /* Orange border */
    padding: 8px;
    font-family: 'Courier New', Courier, monospace; /* Monospace font */
    width: 100%;
}

.button {
    background-color: transparent;
    border: 2px solid #ff851b; /* Orange border */
    color: #ff851b; /* Orange text */
    width: 100%;
    height: 40px; /* Same height as input boxes */
    margin-top: 10px;
}

.button:hover {
    background-color: transparent; /* No change on hover */
    color: #ff851b; /* Orange text */
}
